.btn-primary {
    background-color: rgb(252, 107, 71);
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: #8d8d8d;
}

.comment-item-normal.highlighted>.card,
.notification-item.highlighted {
    background-color: rgb(70 51 46);
}